{% extends 'base.html' %}
{% block title %}
Projects
{% endblock title %}
{% block content %}
    <div class="welcome">
    <h1>Let's get stuff done.</h1>
        <h2>My Projects</h2>
        <ul>
            {% for p in projects %}
            <li>
                <a href="/{project.id}">{{project.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Task Manager</h3>
        <form method="post">
            {{ form }}
            <button type="submit">Add Task</button>
        </form>
    </div>
{% endblock %}